.popup-box__exit {
  position: relative;
  top: -35px;
  right: -230px;
  height: 40px;
  width: 40px;
  background-color: black;
  outline: none;
  border: none;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.profile__photo-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 880px) {
  .popup-box__exit {
    right: -120px;
  }
}