@import url(./__container/popup-box__container.css);
@import url(./__input/popup-box__input.css);
@import url(./__save/popup-box__save.css);
@import url(./__title/popup-box__title.css);
@import url(./__exit/popup-box__exit.css);
@import url(./_open/popup-box_open.css);
@import url(./_closed/popup-box_closed.css);
@import url(./__name/popup-box__name.css);
@import url(./__about/popup-box__about.css);

.popup-box {
  background-color: rgba(0, 0, 25, 0.4);
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: purple 3px solid;
}