.profile__text-button {
  width: 24px;
  height: 24px;
  border: #FFFFFF 1px solid;
  background-color: black;
  margin: 37px 0 59px 18px;
  padding: 0;
  border: red 2px solid;
}

@media screen and (max-width: 880px) {
  .profile__text-button {
    margin: 0 0 0 0;
    position: relative;
    left: 135px;
    bottom: 90px;
  }
}
