.main {
  margin: 81px auto 0 auto;
  max-width: 880px;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  border: blue 2px solid;
}
