@import url(./__line/header__line.css);
@import url(./__logo/header__logo.css);

.header {
  margin: 45px auto 0 auto;
  max-width: 880px;
  max-height: 44px;
  align-items: left;
  justify-content: left;
  align-content: left;
  width: 100%;
}

@media screen and (max-width: 880px) {
  .header {
    margin: 28px auto 0 auto;
    max-width: 320px;
  }
}

