<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Around The U.S.</title>
  <link rel="stylesheet" href="./styles/index.css">
</head>
<body class=body>
  <div class="body__container">
    <header class="header">
      <img src='<%= require("./images/logo.svg")%>' class="header__logo" alt="Around The World">
    </header>
    <main class="main">
      <section class="profile">
        <img class="profile__image" src='<%= require("./images/profile.jpg")%>' alt="profile picture">
        <div class="profile__text">
          <h1 class="profile__name">Jessalyn Dowd</h1>
          <p class="profile__bio">Web Developer</p>
        </div>
        <button class="profile__text-button" type="submit" aria-label="edit profile"></button>
        <button class="profile__photo-button" type="submit" aria-label="add photo"></button>
      </section>
      <section class="grid-container"></section>
      
    </main>
    <footer class="footer">
      <p class="footer__text">© 2020 Around The U.S.</p>
    </footer>

    <div class="popup-box popup-box_type_profile" >
      <form class="popup-box__container popup-box__container_type_profile" id='popup-box__container_type_profile' name="edit-profile">
        <button class="popup-box__exit popup-box__exit_type_profile" type="button"></button>
        <h2 class="popup-box__title">Edit profile</h2>
        <div class="popup-box__input">
          <input id="profile-name" type="text" name="field1" class="popup-box__text popup-box__text_type_name" placeholder="name" required minlength="2" maxlength="40">
          <span id="profile-name-error" class="popup-box__error"></span>

          <input id="profile-text" type="text" name="field2" class="popup-box__text popup-box__text_about" placeholder="profession" required minlength="2" maxlength="200">
          <span id="profile-text-error" class="popup-box__error"></span>

        </div>
        <button type="submit" class="popup-box__save popup-box__save_profile">Save</button>
      </form>
    </div>

    <div class="popup-box popup-box_type_card" >
      <form class="popup-box__container popup-box__container_type_card" id="popup-box__container_type_card" name="add-card">
        <button class="popup-box__exit popup-box__exit_type_add-card" type="button" ></button>
        <h2 class="popup-box__title">New Place</h2>
        <div class="popup-box__input">
          <input id="card-title" type="text" name="field1" class="popup-box__text popup-box__text_type_card" placeholder="Title" required minlength="1" maxlength="30">
          <span id="card-title-error" class="popup-box__error"></span>

          <input id="card-url" type="url" name="field2" class="popup-box__text popup-box__text_type_photo" placeholder="Image Link" required>
          <span id="card-url-error" class="popup-box__error"></span>

        </div>
        <button type="submit" class="popup-box__save popup-box__save_card popup-box__save_disabled" id="popup-box__save">Create</button>
      </form>
    </div>

    <div class="popup-box popup-box_type_photo" >
      <figure class="popup-box__container popup-box__container_type_photo">
        <img class="popup-box__image" src="#" alt="#">
        <button class="popup-box__exit popup-box__exit_preview" type="button" ></button>
        <figcaption class="popup-box__caption" style="color:white; font-weight: normal; font-size: 12px; line-height: 15px; margin: 10px auto 0 0;"></figcaption>
      </figure> 
    </div>

  </div>
  <template id="card-template" class="card-template">
    <article class="photo-grid">
      <button class="photo-grid__delete" type="button"></button>
      <img class="photo-grid__photo" src="#" alt="#">
      <div class="photo-grid__content">
        <h2 class="photo-grid__title"></h2>
        <button class="photo-grid__heart" type="button"></button>
      </div>
    </article>
  </template>

</body>

</html>